.page_wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  /* position: absolute; */
  top: 0;
  z-index: 100;
  width: 100%;
  height: 88px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(transparent));
  background-image: linear-gradient(180deg,#000,transparent);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.container_in_nav {
  display: flex;
  padding-right: 1.375rem;
  padding-left: 1.375rem;
  align-items: center;
}

.logo {
  margin-right: 1.25rem;
  padding-left: 0;
}

.logo_img {
  width: 9.75rem;
  height: 1.625rem;
  -o-object-fit: contain;
  object-fit: contain;
}
